<p style="font-size: 16pt; font-weight: bold"> Landesweit: <%= landesweit %>&#37;</p><br />

<table class="kandidaten">
  <thead>
    <tr>
      <th>&#35;</th>
      <th>Wahlkreis</th>
      <th>Kandidat</th>
      <th>Prozente</th>
    </tr>
  </thead>
  <tbody style="border-top: 0">
    <tr>
      <td>11</td>
      <td>Magdeburg II</td>
      <td>Dr. J&ouml;rg Schulenburg</td>
      <td><%= wahlkreis11 %>&#37;</td>
    </tr>
    <tr>
      <td>36</td>
      <td>Halle I</td>
      <td>Michael M&uuml;ller</td>
      <td><%= wahlkreis36 %>&#37;</td>
    </tr>
    <tr>
      <td>37</td>
      <td>Halle II</td>
      <td>Thilo Fester</td>
      <td><%= wahlkreis37 %>&#37;</td>
    </tr>
    <tr>
      <td>38</td>
      <td>Halle III</td>
      <td>Henning L&uuml;bbers</td>
      <td><%= wahlkreis38 %>&#37;</td>
    </tr>
    <tr>
      <td>40</td>
      <td>Merseburg</td>
      <td>Christoph Gallas</td>
      <td><%= wahlkreis40 %>&#37;</td>
    </tr>
  </tbody>
</table>
